body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    display: flex;
}

.sidebar {
    width: 30%;
    background-color: #2e5d48; /* Темно-зелений */
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.sidebar h2 {
    border-bottom: 1px solid #ccc;
    margin-top: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding-left: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.main-content {
    width: 70%;
    padding: 30px;
    background-color: #f5f5f5;
    box-sizing: border-box;
}

.main-content h1 {
    margin-top: 0;
    color: #2e5d48;
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #2e5d48;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}
