html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  width: 100%;
  text-align: left;
}

.fullwrap {
  width: 900px; 
  text-align: left;
  border: 1px solid #000;
  box-sizing: border-box;

  margin-left: 20px; 
}


.header {
  height: 80px;
  border: 1px solid #000;
  margin: 10px;
  box-sizing: border-box;
}


.wrap {
  margin: 10px;
  border: 1px solid #000;
  box-sizing: border-box;
  padding: 10px;
  background-color: white;
}


.wrap::after {
  content: "";
  display: table;
  clear: both;
}


.main {
  float: left;
  width: 60%;
  height: 300px;
  border: 1px solid #000;
  box-sizing: border-box;
  margin-right: 10px;
}


.sidebar {
  float: left;
  width: 38%;
  height: 300px;
  border: 1px solid #000;
  box-sizing: border-box;
}


.footer {
  height: 100px;
  border: 1px solid #000;
  margin: 10px;
  box-sizing: border-box;
}
